
html{
    background-color: #fff;
}
body {
    box-sizing: border-box; 
    width: 595pt; /* dit is a4: 210 mm = 595 pt */
    margin: 10pt auto;
    padding: 10pt 20pt;
    font-family: Helvetica, Arial , sans-serif;
    font-size: 12pt;
    line-height: 14pt;
}


article {
    page-break-before: always; /* om te printen wordt iedere divisie op een nieuwe pagina geprint */
    
}
/* ieder team in eensection */
section {
    
}
/* header per team*/
section > header {
    background-color: orange;
    margin: 0;
    padding: 8pt 4pt;
}
section > header > h1, section > header > p{
    margin: 2pt 0;
    display:inline-block;
}
/* Lijst met spelers in een OL in 3 kolommen verdeeld */
section > ol {
    box-sizing: border-box; 
    margin: 0 0 10pt 0;
    padding: 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}
section > ol > li {
    list-style-position: inside;
}
/* Spelers informatie (voornaam, achternaam, nummer) in een ul */
section > ol ul{
    box-sizing: border-box; 
    display: inline-block;
    margin: 4pt 0;
    padding: 0;
}
section > ol ul > li{
    display: inline-block;
    margin: 0;
    padding: 0;
}

/* Lijst met extra spelers om in te vullen en ondertekenen */
section > ul {
    box-sizing: border-box; 
    margin: 0 0 20pt 0;
    padding: 10pt 0;
    /*
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    */
    position: relative;
    height: 120pt;
    list-style: none;
}
section > ul > li{
    position: absolute;
}
section > ul > li:nth-child(1){
    text-align: right;
    width: 140pt;
    height: 100pt;
}
section > ul > li:nth-child(2){
    width: 180pt;
    height: 20pt;
    left: 160pt;
    top: 10pt;
}
section > ul > li:nth-child(3){
    width: 180pt;
    height: 20pt;
    left: 160pt;
    top: 50pt;
}
section > ul > li:nth-child(2), section > ul > li:nth-child(3){
    border-bottom: 2pt black dashed;
}
section > ul > li:nth-child(4){
    box-sizing: border-box;
    border: 1pt black solid;
    width: 170pt;
    height: 64pt;
    left: 380pt;
    padding: 4pt;
}

