
html{
    background-color: #fff;
}
body {
    width: 595pt; /* dit is a4: 210 mm = 595 pt */
    box-sizing: border-box; 
    margin: 10pt auto;
    padding: 10pt 20pt;
    font-family: Helvetica, Arial , sans-serif;
    font-size: 12pt;
    line-height: 14pt;
}


article {
    page-break-before: always; /* om te printen wordt iedere divisie op een nieuwe pagina geprint */
    
}
/* ieder team in eensection */
section {
    page-break-inside: avoid;
}
/* header per team*/
section > header {
    background-color: orange;
    margin: 0;
    padding: 8pt 4pt;
}
section > header > h1, section > header > p{
    display:inline-block;
    margin: 2pt 0;
}
/* Lijst met spelers in een OL in 3 kolommen verdeeld */
/* Spelers informatie (voornaam, achternaam, nummer) in een li */
section > ol {
    box-sizing: border-box; 
    margin: 4pt 0 10pt 0;
    padding: 0;
    width: 100%;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    background-color: pink;
}
section > ol > li {
    /* width: 180pt;
    height: 14pt; 
    overflow:hidden; */
    margin: 0;
    padding: 2pt 0;
    list-style-position:inside;
-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
          page-break-inside: avoid; /* Firefox */
               break-inside: avoid; /* IE 10+ */
    background-color: gold;
}

/* Lijst met extra spelers om in te vullen en ondertekenen */
section > ul {
    position: relative;
    height: 120pt;
    box-sizing: border-box; 
    margin: 0 0 20pt 0;
    padding: 10pt 0;
    list-style: none;
}
section > ul > li{
    position: absolute;
}
section > ul > li:nth-child(1){
    text-align: right;
    width: 140pt;
    height: 100pt;
}
section > ul > li:nth-child(2),section > ul > li:nth-child(3){
    width: 180pt;
    height: 20pt;
    left: 160pt;
    top: 10pt;
}
section > ul > li:nth-child(3){
    top: 50pt;
}
section > ul > li:nth-child(2), section > ul > li:nth-child(3){
    border-bottom: 2pt black dashed;
}
section > ul > li:nth-child(4){
    box-sizing: border-box;
    padding: 4pt;
    width: 170pt;
    height: 64pt;
    left: 380pt;
    border: 2pt black solid;
}

