* {
   box-sizing: border-box; 
}

html{
    background-color: #fff;
}

body {
    width: 595pt; /* dit is a4: 210 mm = 595 pt */
    margin: 10pt auto;
    padding: 10pt 20pt;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11pt;
    line-height: 16pt;
}

article {
    page-break-before: always; /* om te printen wordt iedere divisie op een nieuwe pagina geprint */
    margin-bottom: 2pt;
}
    /* header per divisie */
    article > header {
        background-color: orange;
        margin: 0;
        padding: 0 8pt;
        border: 1pt #000 solid;
    }
/* Lijst met wedstrijden */
article > ol {
    margin: 0;
    padding: 4pt 8pt;
    padding-bottom: 20pt;
    border: 1pt black solid;
    border-top: 0pt;
    list-style:none;
}
    article > ol > li {
        margin: 0;
        padding: 0;
        -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
        page-break-inside: avoid; /* Firefox */
        break-inside: avoid; /* IE 10+ */
    }
    article > ol > li > ul {
        margin: 0;
        padding: 0;
        height: 35pt;
        list-style: none;
        border-bottom: 1px black solid;
        position: relative;
    }
    article > ol > li > ul > li {
        display: block;
        position: absolute;
        margin: 0;
        padding: 0;
        height: 35pt;
        line-height: 35pt;
    }
    article > ol > li > ul > li:nth-child(1) { /* date */
        width: 100pt;
        left: 0;
    }
    article > ol > li > ul > li:nth-child(2) { /* field */
        width: 80pt;
        left: 100pt;
    }
    article > ol > li > ul > li:nth-child(3) { /* team 1 */
        width: 130pt;
        left: 180pt;
        text-align: right;
        padding-right: 6pt;
    }
    article > ol > li > ul > li:nth-child(4) { /* score team 1 */
        width: 50pt;
        left: 310pt;
        text-align: center;
        border: 1pt black solid;
        border-top: none;
    }
    article > ol > li > ul > li:nth-child(5) { /* score team 2 */
        width: 50pt;
        left: 360pt;
        text-align: center;
        border: 1pt black solid;
        border-top: none;
        border-left: none;
    }
    article > ol > li > ul > li:nth-child(6) { /* team 2 */
        width: 130pt;
        left: 410pt;
        padding-left: 6pt;
    }
    /* first title list */
    article>ol>li:first-child>ul {
        font-weight: bold;
        height: 20pt;
    }
    article>ol>li:first-child>ul>li {
        line-height: 20pt;
        height: 20pt;
    }
    article>ol>li:first-child>ul>li:nth-child(4){
        width: 100pt;
        left: 310pt;
        border: none;
        text-align: center;
    }
    article>ol>li:first-child>ul>li:nth-child(5){
        border: none;
        left: 410pt;
        padding-left: 6pt;
        text-align: left;
    }
    article > ol > li:last-child > ul {
        
    }

    
/* Signature */
article > ul {
    position: relative;
    height: 35pt; 
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1pt #000 solid;
    border-top: 0pt;
}


    article > ul > li{
        position: absolute;
        height: 35pt;
    }
    article > ul > li:nth-child(1){
        text-align: right;
        width: 170pt;
        left: 0pt;
        top: 0pt;
        line-height: 35pt;
    }
    article > ul > li:nth-child(2){
        padding: 0pt 6pt;
        width: 180pt;
        left: 175pt;
        top:0;
        border-left: 1pt black solid;
        line-height: 35pt;    
    }
